---
import Button from '../components/Button.astro';
import Link from '../components/Link.astro';
import Google from "../assets/images/google-maps.png";
import { Image } from 'astro:assets';
import Billede1 from "../assets/images/card-mennesker.png";
import Billede2 from "../assets/images/daaser-card.png";
import Pin from "../assets/images/pin.png";
---
<!-- Dette er destop version -->
<article id="desktop-version" class="md:grid hidden grid-cols-1 md:grid-cols-2 items-center md:justify-center mx-sm md:mx-lg lg:mx-2xl gap-sm md:gap-lg lg:gap-2xl my-2xl">
    <a href="/produktliste">   
<div class="bg-beige-50 p-sm shadow-short hover:shadow-hover flex flex-col justify-center items-center transition-all ease-in hover:rotate-1">
    <Image class="w-ml" src={Pin} alt="Billede af en opslagstavle nål"/>
    <Image class="w-full md:w-8xl h-auto" src={Billede2} alt="Billede af nogle drikkevarer"/>
    <h4 class="pt-xs">Check vores varer ud:</h4>
</div>
</a>   
<a href="/om-os">      
<div class="bg-beige-50 p-sm shadow-short hover:shadow-hover flex flex-col justify-center items-center transition-all ease-in hover:rotate-1">
    <Image class="w-ml" src={Pin} alt="Billede 2 af en opslagstavle nål"/>
    <Image class="w-full md:w-8xl h-auto" src={Billede1} alt="Billede af nogle mennesker der hygger sig i kiosken"/>
    <h4 class="pt-xs">Hvem er vi?</h4>
</div>
</a>  
</article>
<!-- Dette er mobile version -->
<article id="mobile-version" class="grid grid-cols-1 md:grid-cols-2 items-center md:justify-center mx-sm md:mx-lg lg:mx-2xl gap-ml md:gap-lg lg:gap-2xl my-2xl md:hidden">
<div class="bg-beige-50 p-sm shadow-short hover:shadow-hover flex flex-col justify-center items-center">
    <Image class="w-full md:w-8xl h-auto" src={Billede2} alt="Billede af dåser"/>
    <nav id="mobile-card-nav" class="flex items-center gap-s pt-xs p-4 text-red-700" >
            <Button variant="secondary" size="small" href="/produktliste">Check vores varer ud:</Button>
        </nav>
</div>

<div class="bg-beige-50 p-sm shadow-short hover:shadow-hover flex flex-col justify-center items-center transition-all ease-in hover:rotate-1">
    <Image class="w-full md:w-8xl h-auto" src={Billede1} alt="Billede af nogle mennesker der hygger sig i kiosken"/>
    <nav id="mobile-card-nav-2" class="flex items-center gap-s pt-xs p-4 text-red-700" >
            <Button variant="secondary" size="small" href="/om-os">Hvem er vi?</Button>
        </nav>
</div>

</article>